<html lang="en-US">
	<body>
		<Navbar/>
		<!-- <Banner class="hero"/> -->
		<div class="container">
			<div class="row align-items-center d-flex justify-content-center">
				{#each _items as { name, image, description }, i}
					<div class="col">
						<Product 
						name={name}
						img={image}
						price={"599.99"} />
					</div>
				{/each}
			</div>
			
		</div>
	</body>
</html>

<script>
	import Navbar from './Navbar.svelte'
	import Banner from './Banner.svelte';
	import Product from './Product.svelte';

    async function getProductList() {
        let headers = new Headers();

        headers.append('Content-Type', 'application/json');
        headers.append('Accept', 'application/json');
        headers.append('Access-Control-Allow-Origin', 'http://localhost:8080');
        headers.append('Access-Control-Allow-Credentials', 'true');

		const res = await fetch('http://192.168.1.25:5000/products', {
        mode: 'no-cors',
        method: 'GET',
        headers: headers
        });
		const text = await res.json();

		if (res.ok) {
            // console.log("json: " + res.json)
			return res;
		} else {
			throw new Error(text);
		}
	}

	let _items = getProductList();
    console.log(_items);
	
</script>

<style>
	.container {
		background-color: lightcyan;
	}
</style>