<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg jumbo-learn-btn" href="#" role="button">Learn more</a>
    </p>
</div>

<style>
    .jumbotron { 
        background-color: grey;
        border-color: black;
        border: 1em;
        border-radius:.25em;
        margin-left: 10em;
        margin-right: 10em;
        padding: 1em;
    }
</style>