<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Volos Web</title>
</head>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Volos Web</span>
      </a>

      <ul class="nav nav-pills">
        <!-- <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="/" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="/" class="nav-link">About</a></li> -->
      </ul>
    </header>
  </div>

  <div class="b-example-divider"></div>

  <script>
    //   export let navTitle;
  </script>