<script>
	export let name;
	export let img;
	export let price;
	function handleClick() {
		
	}
	function darkenBG() {
		document.getElementsByClassName("ca")
	}
</script>

<div class="card" style="width: 15rem;">
	<!-- <img src="/imgs/placeholder.png" class="card-img-top" alt="JHAX, LLC Logo"> -->
	<img src={img} class="card-img-top">
	<!-- <div class="card-img-overlay"> -->
		<div class="trans-grey">
			<h5 class="card-title">{name}</h5>
			<p class="card-text">{price}</p>
			<a href="/" class="btn btn-info">Details</a>
		</div>
	<!-- </div> -->
</div>


<style>
	.card {
		margin-bottom: 1em;
		margin-top: 1em;
	}
	.trans-grey {
		/* background-color: hsla(0, 100%, 50%, 0.1); */
		background-color: hsla(0, 0%, 93%, 0.1);
	}
	.trans-grey:hover {
		background-color: hsla(0, 0%, 93%, 0.75);
	}
</style>
